.container {
  /* border: solid 1px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 500px;
}

.player {
  height: 40px;
  width: 220px;
  border: solid 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-left: 10px; */
}

.players {
  color: rgb(1, 127, 254) !important;
  /* background-color: rgb(1, 127, 254); */
}
