.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 500px;
}

.player {
  height: 40px;
  width: 150px;
  border: solid 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.players {
  color: rgb(1, 127, 254) !important;
}

@media only screen and (max-width: 768px) {
  .player {
    width: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 70%;
    height: 50px;
  }

  .player {
    width: 100px;
  }
}
