.container {
  width: 120px;
}

.mode {
  /* margin-right: 20px; */
  font-size: 20px !important;
}

.btn {
  margin-right: 10px;
  color: pointer;
}
.btn_light {
  margin-left: 10px;
  color: pointer;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark-mode {
  --background-color: #333333;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@media only screen and (max-width: 480px) {
  .container {
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
