.row {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parent {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .row {
    max-width: 70%;
  }

  #col {
    height: 110px;
  }
  .container {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .row {
    max-width: 45%;
  }

  #col {
    height: 80px;
  }
  .container {
    margin-top: 10px;
  }
}
